@use "./color";

.bar {
    background-color: color.$background;

    border: var(--border);
    border-radius: var(--border-radius-sm);

    margin: 0 1rem;
    padding: 0.3rem 1rem;

    button {
        background-color: color.$surface;
        padding: 0px 0.6rem;

        &:hover {
            background-color: var(--color-surface-hover);
        }
    }

    .status-pill {
        background-color: color.$primary;
        color: color.$on-primary;
        border-radius: var(--border-radius-md);

        .indicator-icon {
            color: color.$on-primary;
        }

        &:hover {
            background-color: color.$primary;
            transform: scale(1.1);
        }
    }

    .workspaces {
        background-color: color.$surface;
        padding: 0.4rem 1rem;
        border-radius: var(--border-radius-md);

        .workspace-item {
            all: unset;

            background-color: color-mix(in srgb, color.$primary 30%, color.$surface);
            padding: 0 0.6rem;
            border-radius: 100%;

            transition: transform 50ms ease-in-out;

            &:hover {
                background-color: color-mix(in srgb, color.$primary 35%, color.$surface);
                color: color.$on-primary;
                transform: scale(1.1);
            }

            &.active {
                background-color: color.$primary;
                color: color.$on-primary;

                padding: 0 1rem;
                border-radius: 20px;

                &:hover {
                    transform: scale(1.07);
                }
            }
        }

        .enumerated {
            border-radius: var(--border-radius-sm);
        }
    }

    .clock {
        background-color: color.$surface;

        font-size: 1.1rem;
        font-weight: bold;

        padding: 0 20px;
        border-radius: var(--border-radius-lg);
    }

    .volume {
        padding: 0 0.6rem;
        min-width: 50px;
    }

    .tray {
        background-color: color.$surface;
        padding: 0 10px;
        border-radius: var(--border-radius-sm);

        .tray-item {
            background-color: unset;
            padding: 0 3px;

            &:hover {
                background-color: var(--color-background-hover);
            }
        }
    }
}
