/* Defaults */
:root {
    color: var(--color-on-surface);
}

button {
    border-radius: var(--border-radius-sm);
}

popover contents {
    border: var(--border);
    border-radius: var(--border-radius-md);
    background-color: var(--color-surface);

    modelbutton {
        &:hover,
        &:focus {
            background-color: var(--color-surface-hover);
        }
    }
}

switch:checked {
    background-color: var(--color-primary);
}

.window-backdrop {
    background-color: oklch(0 0 0 / 0.0);
    border-radius: 0;
}

.popup-window {
    background-color: var(--color-background);
    box-shadow: var(--shadow);

    border: var(--border);
    border-radius: var(--border-radius-lg);

    margin: 10px;
    padding: 20px;
}

.volume-slider trough {
    background-color: var(--color-surface);

    min-width: 100px;
    min-height: 0.3rem;
    margin-left: 10px;
    border-radius: var(--border-radius-lg);
    
    highlight {
        background-color: var(--color-primary);
        padding: 7px 0;
    }

    slider {
        all: unset;
        background-color: var(--color-primary);
    }
}
