.launcher {
    background-color: var(--color-background);
    color: var(--color-text);

    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;

    box-shadow: var(--shadow);

    .launcher-search-box {
        background-color: var(--color-background-secondary);

        padding: 0.75rem 1rem;
        margin-bottom: 10px;
        min-width: 30rem;
        border-radius: 1rem;

        .launcher-search {
            background-color: inherit;
        }
    }

    .launcher-app {
        background-color: var(--color-background);
        border-radius: 1rem;

        margin: 0 10px;
        margin-top: 0.25rem;

        padding: 0.6rem 1rem;
        transition: 0.3s;

        &:hover,
        &:focus {
            background-color: var(--color-background-secondary);
        }

        .launcher-app-label {
            font-size: 1.1rem;
            margin-left: 1rem;
        }
    }
}

.launcher-grid {
    min-width: 800px;

    .launcher-app {
        margin: 10px;
    }
}
