.notification-center {
    min-width: 450px;
    min-height: 500px;

    button {
        background-color: var(--color-background-secondary);

        &:hover {
            background-color: var(--color-background-secondary-hover);
        }
    }

    .header {
        font-weight: bold;
        margin-bottom: 15px;
    }

    .clear-all {
        padding: 7px 15px;
    }

    .dnd {
        padding: 5px;
        
        label {
            margin: 0 7px;
        }
    }

    .info-label {
        color: var(--color-text-muted);
    }
    
    .notification {
        margin: 6px 0;
        margin-right: 20px; /* reserve space for scrollbar */
        border: unset;
        box-shadow: unset;
    }
}