@use "scss/default";

@use "scss/bar";
@use "scss/launcher";
@use "scss/control_center";
@use "scss/notification_center";

@use "scss/osd";
@use "scss/notification";

/* Colors */
:root {
    /* accent */
    --color-primary: var(--accent-bg-color);
    --color-primary-hover: oklch(from color.$primary calc(l + 5%) c h);
    --color-on-primary: var(--accent-fg-color);

    /* background */
    --color-background: var(--window-bg-color);
    --color-background-hover: oklch(from var(--color-background) calc(l + 3%) c h);

    /* surface */
    --color-surface: var(--sidebar-bg-color);
    --color-surface-hover: oklch(from color.$surface calc(l + 3%) c h);

    --color-surface-variant: hsl(from var(--sidebar-bg-color) h s calc(l - 5%));
    --color-surface-variant-hover: oklch(from color.$surface-variant calc(l + 3%) c h);
    
    --color-on-surface: var(--headerbar-fg-color);
    --color-on-surface-muted: oklch(from color.$on-surface l c h / 0.5);
    
    /* border */
    --color-border: var(--headerbar-shade-color);
}

/* Modifiers */
:root {
    --border: 1px solid color.$border;

    --border-radius-sm: 15px;
    --border-radius-md: 20px;
    --border-radius-lg: 30px;

    --shadow: 0 0 4px 2px color.$border;
}