@use "scss/default";

@use "scss/bar";
@use "scss/launcher";
@use "scss/control_center";
@use "scss/notification_center";

@use "scss/osd";
@use "scss/notification";

/* Global properties */
:root {
    --color-background: var(--window-bg-color);
    --color-background-hover: oklch(from var(--color-background) calc(l + 3%) c h);
    --color-background-secondary: var(--sidebar-bg-color);
    --color-background-secondary-hover: oklch(from var(--color-background-secondary) calc(l + 3%) c h);

    --color-accent: var(--accent-bg-color);
    --color-accent-hover: oklch(from var(--color-accent) calc(l + 5%) c h);

    --color-text: var(--headerbar-fg-color);
    --color-text-muted: oklch(from var(--color-text) l c h / 0.5);
    --color-text-accent: var(--accent-fg-color);

    --color-border: var(--headerbar-shade-color);
    --border: 1px solid var(--color-border);

    --border-radius-sm: 15px;
    --border-radius-md: 20px;
    --border-radius-lg: 30px;

    --shadow: 0 0 4px 2px var(--color-border);
}
