@use "scss/bar";
@use "scss/osd";
@use "scss/launcher";
@use "scss/notification";
@use "scss/control_center";
@use "scss/notification_center";

/* Global properties */
:root {
    --color-background: var(--window-bg-color);
    --color-background-hover: oklch(from var(--color-background) calc(l + 3%) c h);
    --color-background-secondary: var(--sidebar-bg-color);
    --color-background-secondary-hover: oklch(from var(--color-background-secondary) calc(l + 3%) c h);

    --color-accent: var(--accent-bg-color);
    --color-accent-hover: oklch(from var(--color-accent) calc(l + 5%) c h);

    --color-text: var(--headerbar-fg-color);
    --color-text-muted: oklch(from var(--color-text) l c h / 0.5);
    --color-text-accent: var(--accent-fg-color);

    --color-border: var(--headerbar-shade-color);
    --border: 1px solid var(--color-border);

    --border-radius-sm: 15px;
    --border-radius-md: 20px;
    --border-radius-lg: 30px;

    --shadow: 0 0 4px 2px var(--color-border);
}

/* Defaults */
:root {
    color: var(--color-text);

    button {
        border-radius: var(--border-radius-sm);
    }

    popover contents {
        border: var(--border);
        border-radius: var(--border-radius-md);
        background-color: var(--color-background-secondary);

        modelbutton {

            &:hover,
            &:focus {
                background-color: var(--color-background-secondary-hover);
            }
        }
    }
}

.window-backdrop {
    background-color: rgb(0 0 0 / 0.1);
}

.popup-window {
    background-color: var(--color-background);
    box-shadow: var(--shadow);

    border: var(--border);
    border-radius: var(--border-radius-lg);

    margin: 10px;
    padding: 20px;
}

.volume-slider trough {
    background-color: oklch(from var(--color-background-secondary) calc(l - 20%) c h);

    min-width: 100px;
    min-height: 0.3rem;
    border-radius: var(--border-radius-lg);

    highlight {
        background-color: var(--color-accent);
    }

    slider {
        background-color: var(--color-accent);

        min-height: 20px;
        min-width: 20px;
        margin: -8px;
    }
}