/* Defaults */
:root {
    color: var(--color-on-surface);
}

button {
    background-color: var(--color-surface);
    border-radius: var(--border-radius-sm);

    &:hover {
        background-color: var(--color-surface-hover);
    }

    &:focus-visible {
        outline: var(--outline);
        outline-offset: var(--outline-offset);
    }
}

popover contents {
    background-color: var(--color-surface);
    border: var(--border);
    border-radius: var(--border-radius-md);

    modelbutton {
        &:hover,
        &:focus-visible {
            background-color: var(--color-surface-hover);
        }
    }
}

switch {
    &:checked {
        background-color: var(--color-primary);
    }

    &:focus-visible {
        outline: var(--outline);
        outline-offset: var(--outline-offset);
    }
}
