.accordion-menu {
    background-color: var(--color-surface);
    padding: 10px 20px;
    margin: 10px;
    border-radius: var(--border-radius-md);

    button {
        background-color: inherit;
    }

    button:hover {
        background-color: var(--color-surface-hover);
    }

    separator {
        margin: 10px 0;
    }
}

.device-menu {
    .header {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .device-item {
        &.settings, 
        button {
            all: unset;
            font-weight: normal;
            border-radius: var(--border-radius-sm);
            padding: 8px;

            margin: 1px 0;

            &:hover,
            &:focus-visible {
                background-color: var(--color-surface-hover);
            }
        }

        .device-icons .icon {
            margin: 0 2px;
        }

        .label {
            margin-left: 5px;
        }

        .indicators {
            margin-right: 15px;
            
            > * {
                margin: 0 3px;
            }
        }
    }
}
