@use "../mixin.scss";

.notification {
	background-color: var(--color-surface);

	box-shadow: var(--shadow);

	border: var(--border);
	border-radius: var(--border-radius-md);

	margin: 10px;
	margin-bottom: 3px;

	padding: 10px 20px;

	transition: 0.3s;

	.notification-header {
		--text-color: var(--color-on-surface);
		--text-muted: oklch(from var(--text-color) l c h / 0.5);

		margin-bottom: 5px;

		.app-icon {
			filter: grayscale(100%);
			margin-right: 5px;
		}

		.app-name {
			font-size: 1.1em;
			font-weight: bold;
			color: var(--text-muted);
			margin-right: 8px;
		}

		.time {
			font-size: 0.9em;
			color: var(--text-muted);
		}

		button {
			@include mixin.interactive("surface-variant");

			padding: 2px;
			margin: 0 5px;
		}
	}

	.information {
		.icon {
			margin-right: 10px;
		}

		.summary {
			font-weight: bold;
			margin-bottom: 3px;
		}

		.body {
			margin-bottom: 10px;
		}
	}

	.actions button {
		@include mixin.interactive("secondary-container");

		margin: 5px;
		border-radius: var(--border-radius-sm);
	}
}

.notification.popup {
	min-width: 400px;
}

.notification.player {
	@include mixin.interactive("secondary-container");

	.notification-header {
		margin-bottom: 10px;

		.app-name {
			--text-color: var(--color-on-secondary-container);
		}
	}

	.controls button {
		@include mixin.interactive("secondary");
		margin: 0 3px;

		&.previous,
		&.next {
			margin: 4px;
			border-radius: var(--border-radius-lg);
		}

		&.play-pause {
			padding: 0 15px;
			border-radius: var(--border-radius-sm);
		}
	}

	.art {
		border-radius: var(--border-radius-sm);
	}

	.metadata {
		margin: 0 10px;

		.label-title {
			font-weight: bold;
			font-size: large;
		}
	}

	.progress-bar {
		label {
			margin: 0 10px;
		}

		scale trough {
			background-color: color-mix(
				in srgb,
				var(--color-on-secondary-container) 25%,
				var(--color-secondary-container)
			);
		}
	}
}
