.notification {
	background-color: var(--color-surface);
	box-shadow: var(--shadow);

	border: var(--border);
	border-radius: var(--border-radius-md);

	margin: 10px;
	margin-bottom: 0px;

	padding: 20px;
	padding-top: 10px;

	transition: 0.3s;

	&:hover {
		background-color: var(--color-surface-hover);
	}

	.notification-header {
		--text-muted: oklch(from var(--color-on-surface) l c h / 0.5);
		
		margin-bottom: 5px;

		.notification-app-name {
			font-size: 1.1em;
			font-weight: bold;
			color: var(--text-muted);
		}

		.notification-time {
			font-size: 0.9em;
			color: var(--text-muted);
		}

		button {
			background-color: var(--color-surface-variant);
			padding: 2px;
			margin: 0 3px;

			&:hover {
				background-color: var(--color-surface-variant-hover);
			}
		}
	}

	.notification-summary {
		margin-bottom: 3px;
		font-weight: bold;
	}

	/*
	.notification-body {
	}
	*/

	.notification-action {
		background-color: var(--color-surface-variant);
		border-radius: var(--border-radius-sm);

		margin-top: 5px;

		&:hover {
			background-color: var(--color-surface-variant-hover);
		}
	}
}

.notification-popup {
	min-width: 400px;
}
