@use "../mixin.scss";

.qs-button {
	border-radius: var(--border-radius-md);
	margin-bottom: 3px;

	button {
		border-radius: var(--border-radius-md);
		padding: 5px 8px;
		min-height: 40px;
	}

	& {
		background-color: var(--color-surface);

		button {
			@include mixin.interactive("surface");
		}
	}

	&.active {
		background-color: var(--color-primary);

		button {
			@include mixin.interactive("primary");
		}
	}

	.sections {
		.icon {
			margin: 0 7px;
		}

		.title {
			font-weight: bold;
		}
		
		.subtitle {
			font-weight: normal;
			font-size: small;
		}
	}

	&.has-menu {
		.sections {
			border-top-left-radius: var(--border-radius-md);
			border-bottom-left-radius: var(--border-radius-md);

			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		.menu {
			border-top-right-radius: var(--border-radius-md);
			border-bottom-right-radius: var(--border-radius-md);

			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}
