@use "../mixin.scss";

.qs-button {
    @include mixin.state("surface");
    border-radius: var(--border-radius-md);

    padding: 15px;
    margin-bottom: 2px;

    .qs-button-label {
        margin-left: 7px;
    }

    &.active {
        @include mixin.state("primary");
    }
}