@use "../mixin";

.bar {
	--borders-margin: 6px;
	--vertical-margin: 2px;
	background-color: var(--color-background);

	border-bottom-left-radius: var(--border-radius-sm);
	border-bottom-right-radius: var(--border-radius-sm);

	button {
		padding: 0 13px;
		margin: 0 -4px;
	}

	separator {
		margin: 7px 5px;
	}

	.action-button {
		margin: var(--vertical-margin) -4px;
		transition: all 200ms;

		&.active {
			@include mixin.interactive("primary");
			transform: scale(1.03);
		}
	}

	.action-start {
		margin-left: var(--borders-margin);
	}

	.action-end {
		margin-right: var(--borders-margin);
	}

	.notification-center-button {
		min-width: 32px;
	}

	.workspaces {
		.workspace-item {
			all: unset;
			margin: 5px 2px;

			background-color: color-mix(
				in srgb,
				var(--color-primary) 40%,
				var(--color-surface)
			);
			color: var(--color-on-surface);

			padding: 0 0.6rem;
			border-radius: 100%;

			transition: transform 50ms ease-in-out;

			&.active {
				background-color: var(--color-primary);
				color: var(--color-on-primary);

				padding: 0 15px;
				border-radius: 20px;

				@include mixin.interactive("primary");
			}

			&:focus-visible {
				outline: var(--outline);
				outline-offset: var(--outline-offset);
			}
		}

		.enumerated {
			border-radius: var(--border-radius-sm);
		}
	}

	.clock {
		background-color: var(--color-background);

		font-size: 1.1rem;
		font-weight: bold;

		padding: 0 10px;
		border-radius: var(--border-radius-lg);
	}

	.keyboard-layout {
		background-color: var(--color-background);
		min-width: 25px;

		&:hover {
			@include mixin.interactive(background);
		}

		label {
			font-size: large;
		}
	}

	.tray {
		background-color: var(--color-background);
		border-radius: var(--border-radius-sm);

		.tray-item {
			padding: 0 5px;

			&:hover {
				@include mixin.interactive(background);
			}
		}
	}
}

.button-group {
	.start,
	.end {
		border-radius: 0;
		margin: 2px 1px;
	}

	.start {
		border-top-left-radius: var(--border-radius-sm);
		border-bottom-left-radius: var(--border-radius-sm);
	}

	.end {
		border-top-right-radius: var(--border-radius-sm);
		border-bottom-right-radius: var(--border-radius-sm);

		margin-right: 5px;
	}
}
