@use "../mixin";

.bar {
	--vertical-margin: 3px;
	--borders-margin: 5px;
	
	border-bottom: 1px solid var(--color-border);
	border-bottom-left-radius: var(--border-radius-sm);
	border-bottom-right-radius: var(--border-radius-sm);

	background-color: var(--color-background);

	separator {
		margin: 6px 15px;
	}

	button {
		padding: 0 10px;
		margin: var(--vertical-margin) 10px;
	}

	.button-group {
		.start,
		.end {
			border-radius: 0;
			margin: var(--vertical-margin) 1px;
		}
	
		.start {
			border-top-left-radius: var(--border-radius-sm);
			border-bottom-left-radius: var(--border-radius-sm);
		}
	
		.end {
			border-top-right-radius: var(--border-radius-sm);
			border-bottom-right-radius: var(--border-radius-sm);

			margin-right: var(--borders-margin);
		}
	}

	.action-button {
		margin: var(--vertical-margin) 2px;

		&.active {
			@include mixin.interactive("primary");
			transform: scale(1.03);
		}
	}

	.status-pill,
	.notification-center-button {
		min-width: 40px;
	}

	.notification-center-button image,
	.indicator-icon {
		margin: 0 3px;
	}

	.clock {
		font-size: 1.1rem;
		font-weight: bold;

		padding: 0 20px;
		border-radius: var(--border-radius-sm);
	}

	.keyboard-layout {
		font-size: large;
		min-width: 25px;
	}

	.systemtray {
		background-color: var(--color-surface);
		border-radius: var(--border-radius-sm);
		margin: var(--vertical-margin) 0;
		padding: 0 7px;
		
		.tray-item {
			--horizontal: 3px;
			margin: 0 var(--horizontal);
			padding: 0 var(--horizontal);

			&:hover {
				@include mixin.interactive(background);
			}
		}
	}

	.workspaces {
		.workspace-item {
			margin: var(--vertical-margin) 2px;

			background-color: color-mix(
				in srgb,
				var(--color-primary) 40%,
				var(--color-surface)
			);
			color: var(--color-on-surface);

			padding: 0 0.6rem;
			border-radius: 100%;

			&.active {
				background-color: var(--color-primary);
				color: var(--color-on-primary);

				padding: 0 15px;
				border-radius: 20px;

				@include mixin.interactive("primary");
			}

			&:focus-visible {
				outline: var(--outline);
				outline-offset: var(--outline-offset);
			}
		}

		.enumerated {
			border-radius: var(--border-radius-sm);
		}

		&.active-command {
			@include mixin.interactive("primary");
		}
		&.active-command .workspace-item {
			background-color: color-mix(
				in srgb,
				var(--color-primary) 40%,
				var(--color-surface)
			);
			color: var(--color-on-primary);

			&.active {
				background-color: var(--color-primary-container);
			}
		}
	}

	.button-start {
		margin-left: var(--borders-margin);
	}
	.button-end {
		margin-right: var(--borders-margin);
	}
}
