@use "../var";
@use "../lib/func";

.control-center {
    min-width: 430px;

    button {
        background-color: var.$color-surface;

        &:hover {
            background-color: func.hover(var.$color-surface);
        }
    }

    .slider-control,
    .quick-settings,
    .actions {
        margin: 10px 0;
    }

    .battery-status {
        background-color: var.$color-surface;
        padding: 10px;
        border-radius: var.$border-radius-lg;

        .battery-item {
            font-weight: bold;
        }
    }
}
