@use "../color";
@use "../size";
@use "../lib/helper";

/* Defaults */
:root {
    color: color.$on-surface;
}

button {
    border-radius: size.$border-radius-sm;
}

popover contents {
    border: size.$border;
    border-radius: size.$border-radius-md;
    background-color: color.$surface;

    modelbutton {
        &:hover,
        &:focus {
            background-color: helper.hover(color.$surface);
        }
    }
}

switch:checked {
    background-color: color.$primary;
}

.window-backdrop {
    background-color: oklch(0 0 0 / 0.0);
    border-radius: 0;
}

.popup-window {
    background-color: color.$background;
    box-shadow: size.$shadow;

    border: size.$border;
    border-radius: size.$border-radius-lg;

    margin: 10px;
    padding: 20px;
}

.volume-slider trough {
    background-color: color.$surface;

    min-width: 100px;
    min-height: 0.3rem;
    margin-left: 10px;
    border-radius: size.$border-radius-lg;

    highlight {
        background-color: color.$primary;
        padding: 7px 0;
    }

    slider {
        all: unset;
        background-color: color.$primary;
    }
}
