@use "../mixin";

.launcher {
	.search-entry {
		@include mixin.interactive("surface");

		margin-bottom: 10px;
		padding: 8px 15px;
		border-radius: var(--border-radius-md);
	}

	.activatable {
		@include mixin.interactive("background");

		font-size: 1.1rem;
		font-weight: 500;

		min-width: 100px;
		min-height: 80px;
		
		margin: 3px;
		padding: 10px;
	}
}

.launcher.grid {
	.scroll-container {
		min-width: 700px;
		min-height: 450px;
	}

	.search-entry {
		margin: 0 150px;
		margin-bottom: 10px;
	}
}
