@use "../mixin";

.launcher {
	.grid-view {
		background-color: transparent;
	}

	.search-entry {
		@include mixin.interactive(surface);

		margin-bottom: 10px;
		padding: 8px 15px;
		border-radius: var(--border-radius-md);

		entry {
			background-color: unset;
			outline: unset;
		}
	}

	.app-item {
		&,
		&:hover {
			background-color: unset;
		}

		border-radius: var(--border-radius-md);
		
		margin: 3px 5px;
		padding: 10px 15px;

		label {
			font-size: 1.1rem;
			margin-left: 15px;
		}
	}
}

.launcher.grid {
	.scroll-container {
		min-width: 600px;
		min-height: 450px;
	}

	.search-entry {
		margin: 0 100px;
		margin-bottom: 10px;
	}

	.app-item {
		min-width: 100px;
		min-height: 80px;
	}
}
