@use "../var";
@use "helper";

.launcher {
    min-width: 30rem;

    .launcher-search-box {
        background-color: var.$color-surface;

        padding: 0.75rem 1rem;
        margin-bottom: 10px;
        border-radius: var.$border-radius-md;

        .launcher-search {
            background-color: inherit;
        }
    }

    .launcher-app {
        background-color: var(--color-background);
        border-radius: var.$border-radius-md;

        margin: 0 5px;
        margin-top: 0.25rem;

        padding: 0.6rem 1.3rem;

        &:focus {
            background-color: var.$color-surface;
        }

        &:hover {
            background-color: helper.hover(var.$color-surface);
        }

        .launcher-app-label {
            font-size: 1.1rem;
            margin-left: 1rem;
        }
    }
}

.launcher-grid {
    min-width: 800px;

    .launcher-app {
        margin: 10px;
        border-radius: var.$border-radius-md;
    }
}
