@use "../var";
@use "helper";

.notification {
	background-color: var.$color-surface;
	box-shadow: var.$shadow;

	border: var.$color-border;
	border-radius: var.$border-radius-md;

	margin: 10px;
	margin-bottom: 0px;

	padding: 20px;
	padding-top: 10px;

	transition: 0.3s;

	&:hover {
		background-color: helper.hover(var.$color-surface);
	}

	.notification-header {
		margin-bottom: 5px;

		.notification-app-name {
			font-size: 1.1em;
			font-weight: bold;
			color: var(--color-on-surface-muted);
		}

		.notification-time {
			font-size: 0.9em;
			color: var(--color-on-surface-muted);
		}

		button {
			background-color: var.$color-surface-variant;
			padding: 2px;
			margin: 0 3px;

			&:hover {
				background-color: helper.hover(var.$color-surface-variant);
			}
		}
	}

	.notification-summary {
		margin-bottom: 3px;
		font-weight: bold;
	}

	/*
	.notification-body {
	}
	*/

	.notification-action {
		background-color: var.$color-surface-variant;
		border-radius: var.$border-radius-sm;

		margin-top: 5px;

		&:hover {
			background-color: helper.hover(var.$color-surface-variant);
		}
	}
}

.notification-popup {
	min-width: 400px;
}
