.notification-center {
	min-width: 450px;
	min-height: 600px;

	.header {
		font-weight: bold;
		margin: 10px 0;
	}

	.info-label {
		color: oklch(from var(--color-on-surface) l c h / 0.6);
		font-size: 16px;
	}

	.clear-all {
		padding: 7px 15px;
	}

	.dnd {
		padding: 5px;

		label {
			margin: 0 7px;
		}
	}

	.notification {
		/* reserve space for scrollbar */
		margin: 6px 3px;
		margin-right: 20px;

		border: unset;
		box-shadow: unset;
	}
}

.notification-list {
	.activatable {
		background-color: transparent;
		padding: 0;
	}
}