.osd {
    min-width: 300px;

    background-color: var(--color-surface);

    border: var(--border);
    border-radius: var(--border-radius-lg);

    padding: 15px 20px;
    margin: 50px;

    .volume-slider {
        button {
            &:hover,
            &:focus-visible {
                background-color: var(--color-surface-variant);
            }
        }

        .volume-icon:disabled {
            filter: none;
        }

        trough {
            background-color: var(--color-surface-variant);
        }
    }
}
