$primary: var(--accent-bg-color, hsl(240, 82%, 87%));
$on-primary: var(--accent-fg-color, white);

$background: var(--window-bg-color, hsl(255, 6%, 27%));
$on-background: var(--window-fg-color, white),;

$surface: var(--sidebar-bg-color, hsl(305, 6%, 37%));
$on-surface: var(--headerbar-fg-color, white);
$on-surface-muted: oklch(from $on-surface l c h / 0.5);

$surface-variant: oklch(from $surface calc(l - 5%) c h);

$border: var(--headerbar-shade-color, rgb(60, 60, 60));
