@import "../.cache/dark";

:root {
	/* COLORS */
	--font: "Inter";

	--color-primary: var(--accent-bg-color);
	--color-on-primary: var(--accent-fg-color);

	--color-secondary: var(--color-surface-variant);
	--color-on-secondary: var(--color-on-surface);

	--color-secondary-container: var(--color-surface);
	--color-on-secondary-container: var(--color-on-surface);

	--color-background: var(--window-bg-color);
	--color-on-background: var(--window-fg-color);

	--color-surface: var(--sidebar-bg-color);
	--color-on-surface: var(--headerbar-fg-color);

	--color-surface-variant: oklch(from var(--color-surface) calc(l #{if($DARK, "+", "-")} 10%) c h);
	--color-on-surface-variant: var(--color-on-surface);

	--color-shadow: var(--headerbar-shade-color);
	--color-border: var(--color-shadow);
	--color-outline: var(--color-primary);
	--color-outline-variant: var(--color-shadow);

	/* MODIFIERS */
	--border: 0px solid var(--color-border);

	--outline: 2px solid var(--color-outline);
	--outline-offset: 1.3px;

	--border-radius-sm: 15px;
	--border-radius-md: 20px;
	--border-radius-lg: 30px;

	--shadow: 0 0 4px 2px var(--color-shadow);

	/* STATE */
	--opacity-hover: 8%;
	--opacity-press: 12%;
}

@import "../.cache/override.scss";